body {
    font-family: 'Roboto', sans-serif;
}

.status {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: 700;
    padding: 10px 0;
}

.status-number {
    margin-top: 3px;
}

.box {
    border: 1px solid #000;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    display: flex;
    align-content: center;
}

.main {
    padding: 15px;
    background-color: #f4f4f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info {
    padding: 15px 15px 5px 15px;
    background-color: #e8e8e8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
}

.answers-form {
    padding-left: 10px;
}

.answers-button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0 5px 0;
}

.red-arrow {
    color: #f00;
}

.green-arrow {
    color: #0f0;
}

.progress-bar-container{
    margin-top: 30px;
}

.next-step{
    margin-top: 10px;
}

.my-progress-bar {
    min-width: 20%;
}

